@supports ((-webkit-backdrop-filter: blur(0)) or (backdrop-filter: blur(0))) {
    .header-background {
        background-color: #78c6ca !important;
    }
}

:host {
    --background: #78c6ca !important;
    background: var(--background);
}

.osahan-header-tab ul li button {
    color: black !important
}

.nav-link {
    border-bottom: 0 !important
}