<ion-header [translucent]="true">
  
</ion-header> 
  
  <ion-content [fullscreen]="true">
    
    <div class="overflow-hidden">
      <div class="profile d-flex flex-column vh-100 w-100">
        <!-- Navbar -->
        <div class="mb-auto profile-navbar w-100">
          <div class="d-flex align-items-center p-3">
            <div class="bg-dark bg-opacity-25 rounded-pill icon me-auto">
              <a class="d-flex" routerLink="/"><i class='bx bx-arrow-back bx-sm text-white'></i></a>
            </div>
          </div>
        </div>
        <!-- Body -->
        <div class="vh-100 my-auto overflow-auto">
          <div class="mb-3">
            <img src="/assets/assets/img/personal/personal-1.jpg" alt="Profile Cover" style="height: 200px; width: 100%;" class="img-fluid">
          </div>
  
          <div class="shadow text-center profile-content" style="background: white;">
            <img [src]="baseUrlFile + user.image" alt="Profile Image" class="img-fluid rounded-pill shadow profile-lg personal-profile-img mb-3 p-1 bg-white" style="width:100px;height:100px">
            <div class="mb-3">
              <h5 class="fw-bold text-black mb-1">
                {{user.nom}} {{user.prenom}}
                <a routerLink="/menu-parametre" style="color: black;">
                  <i class='bx bxs-cog me-2' style="font-size: 24px;"></i>
                </a>
              </h5>
              <p class="text-black-50">({{user.username}})</p>
              <p class="text-black-50" *ngIf="user.type == 1">Personal shopper</p>
              <p class="text-black-50" *ngIf="user.type == 2">Client</p>
              <p class="text-black-50" *ngIf="user.type == 1"></p>
            </div>
            <app-listepostandfollowers [id]="id"></app-listepostandfollowers>
            <!-- Tabs -->
            <div class="mb-auto osahan-header-tab shadow" style="background: white;">
                    <ul class="nav nav-tabs anis-tabs" id="myTab" role="tablist">
                      <li class="nav-item col col-none col-nav-image" role="presentation" (click)="changeBorder('col-nav-image')" style="border-bottom:2px solid black">
                        <button class="nav-link active" id="summary-tab" data-bs-toggle="tab" data-bs-target="#summary-tab-pane" type="button" role="tab" aria-controls="summary-tab-pane" aria-selected="true" ><img src="/assets/icon/Image.png"></button>
                      </li>
                      <li class="nav-item col col-none col-nav-video" role="presentation" (click)="changeBorder('col-nav-video')">
                        <button class="nav-link" id="calender-tab" data-bs-toggle="tab" data-bs-target="#calender-tab-pane" type="button" role="tab" aria-controls="calender-tab-pane" aria-selected="false" style="color: black !important;"><img src="/assets/icon/Video.png"></button>
                      </li>
                      <li class="nav-item col col-none col-nav-post" role="presentation" (click)="changeBorder('col-nav-post')">
                        <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review-tab-pane" type="button" role="tab" aria-controls="review-tab-pane" aria-selected="false" style="color: black !important;"><img src="/assets/icon/status.png"></button>
                      </li>
                    </ul>
             </div>
          </div>
  
          <div>
            <div class="tab-content" id="myTabContent">
          
              <div class="tab-pane fade show active" id="summary-tab-pane" role="tabpanel" aria-labelledby="summary-tab" tabindex="0">
                      <div class="p-3" style="min-height:500px">
                        <ng-container *ngIf="!posts || posts.length==0 || verifFileAll('img')==false">
                          <div style="text-align:center">
                            No items available
                          </div>
                        </ng-container>
                                <div class="row row-cols-4 g-4 custom-check mb-3 p-3" style="--bs-gutter-y: 0rem;" *ngIf="posts.length>0">
                                 
                                        <ng-container *ngFor="let post of posts;let i= index" >
                                            <div class="col" *ngIf="verifFile(post)=='img'" style="width:33.31%;">
                                              <a [routerLink]="'/detaille-post/' + post.id"><app-postprofiles [post]="post" [compte]="1"></app-postprofiles></a>
                                            </div>
                                      </ng-container>
                                </div>
                      </div>
                    </div> 
              <!-- Calendar -->
              <div class="tab-pane fade " id="calender-tab-pane" role="tabpanel" aria-labelledby="calender-tab" tabindex="0">
                      <div class="p-3" style="min-height:500px">
                        <ng-container *ngIf="!posts || posts.length==0 || verifFileAll('mp4')==false">
                          <div style="text-align:center">
                            No items available
                          </div>
                        </ng-container>
                        <div class="row row-cols-2 g-4 custom-check mb-3 p-3">
                          
                              <ng-container *ngFor="let post of posts;let i= index" >
                                <div class="col" *ngIf="verifFile(post)=='mp4'">
                                  <a [routerLink]="'/detaille-post/' + post.id"> <app-postprofiles [post]="post" [compte]="1"></app-postprofiles></a>
                                </div>
                              </ng-container>
                          </div>
                       </div>
              </div>
              <!-- Review -->
              <div class="tab-pane fade" id="review-tab-pane" role="tabpanel" aria-labelledby="review-tab" tabindex="0">
                <div class="p-3" style="min-height:500px">
                  <div class="row row-cols-1 g-4 custom-check mb-3 p-3">
                    <ng-container *ngIf="!posts || posts.length==0 || !verifFileAllText()">
                      <div style="text-align:center">
                        No items available
                      </div>
                    </ng-container>
                        <ng-container *ngFor="let post of posts;let i= index" >
                          <div class="col" *ngIf="!verifFile(post)">
                            <a [routerLink]="'/detaille-post/' + post.id"><app-postprofiles [post]="post" [compte]="1"></app-postprofiles></a>
                          </div>
                        </ng-container>
                    </div>
                 </div>
              </div>
          </div>
          </div>
        </div>
  
        <app-footer></app-footer>
      </div>
    </div>
  </ion-content>
  