.osahan-header-tab .nav-tabs .nav-link {
    border-bottom: 3px solid white !important;
}

.anis-tabs {
    width: 80%;
    margin-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-left: 0px solid red;
    border-right: 0px solid red
}