<ion-header [translucent]="true">
 
</ion-header>

<ion-content [fullscreen]="true">
  <div class="overflow-hidden" style="background: white">
    <div class="profile d-flex flex-column vh-100 w-100">
      <!-- Navbar -->
      <div class="mb-auto profile-navbar">
        <div class="d-flex align-items-center p-3">
          <div class="bg-dark bg-opacity-25 rounded-pill icon me-auto">
            <a class="d-flex" routerLink="/edit-password">
              <i class='bx bx-arrow-back bx-sm text-white'></i>
            </a>
          </div>
          <div style="margin-left: 10px">
            <h3>Edit password</h3>
          </div>
        </div>
      </div>

      <!-- Body -->
      <div class="vh-100 my-auto overflow-auto">
        <div class="mb-2">
          <h5 class="p-3 mb-0"></h5>
          <h5 class="p-3 mb-0"></h5>

          <!-- User Profile Section -->
          <a href="#" class="link-dark">
            <div class="bg-white rounded-3 shadow d-flex align-items-center p-3 border mb-2">
              <div style="margin-left: 3%;">
                <h6 class="mb-1">Change password
                 
                </h6>
                <p>it must contain at least 8 characters, including at least one uppercase letter, one lowercase letter, one number, and one special character (such  #, $, etc.).</p>
              </div>
            </div>
          </a>

          <!-- Settings Links -->
          <div class="m-3">
            <div class="mb-3">
                <label for="exampleInputName1" class="form-label text-muted mb-0 small">Current password</label>
                <input type="password" [ngClass]="{ 'important-border': dataStyle.password }" class="form-control bg-transparent rounded-0 border-0 border-bottom px-0" id="exampleInputName1" [(ngModel)]="dataUser.password"  aria-describedby="nameHelp">
                <div style="color:red">{{dataAlert.password}}</div>
              </div>
            <div class="mb-3">
              <label for="exampleInputName1" class="form-label text-muted mb-0 small">New password</label>
              <input type="password" [ngClass]="{ 'important-border': dataStyle.new_password }" class="form-control bg-transparent rounded-0 border-0 border-bottom px-0" id="exampleInputName1" [(ngModel)]="dataUser.new_password" aria-describedby="nameHelp">
              <div style="color:red">{{dataAlert.new_password}}</div>
            </div>
            
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label text-muted mb-0 small">Re-enter the new password</label>
                <input type="password" [ngClass]="{ 'important-border': dataStyle.repeat_password }" class="form-control bg-transparent rounded-0 border-0 border-bottom px-0"  id="exampleInputEmail1" [(ngModel)]="dataUser.repeat_password"  aria-describedby="emailHelp">
                <div style="color:red">{{dataAlert.repeat_password}}</div>
              </div>
           
          <button  class="btn btn-primary btn-lg w-100 mb-3" (click)="changePassword()">Save</button>
          </div>
        </div>
      </div>

      <app-footer></app-footer>
    </div>
  </div>
</ion-content>