<div class="log-in p-4">
  <a routerLink="/"><i class="bx bx-arrow-back bx-sm text-black" style="z-index:555" aria-hidden="true"></i></a>
<div class="d-flex align-items-start justify-content-between mb-4">
    <div>
        <h2 class="fw-bold text-primary">New password</h2>
        <span>Enter your password to access your account.</span>
    </div>
</div>
    <div style="color:red">{{data.er}}</div>
    <div class="mb-4">
        <label for="exampleInputEmail1" class="form-label text-muted mb-0 small">New password</label>
        <input type="password" class="form-control bg-transparent rounded-0 border-0 border-bottom px-0" id="exampleInputEmail1" placeholder="******" [(ngModel)]="data.password" aria-describedby="emailHelp">
    </div>
    <div class="mb-2">
        <label for="exampleInputPassword1" class="form-label text-muted mb-0 small">Confirm password</label>
        <input type="password" class="form-control bg-transparent rounded-0 border-0 border-bottom px-0" id="exampleInputPassword1" [(ngModel)]="data.confirm_password"  placeholder="******">
    </div>
    
    <button class="btn btn-primary btn-lg w-100" (click)="next()">Save change</button>

</div>

