<ion-header [translucent]="true">
  
</ion-header>
<ion-content [fullscreen]="true">
<div class="log-in p-4">
  <a routerLink="/reset-password"><i class="bx bx-arrow-back bx-sm text-black" style="z-index:555" aria-hidden="true"></i></a>
<div class="d-flex align-items-start justify-content-between mb-4">
    <div>
        <h2 class="fw-bold text-primary">Verification</h2>
        <span>Please enter the  code send to you at</span>
    </div>
</div>
    <div class="mb-4">
        <label for="exampleInputEmail1" class="form-label text-muted mb-0 small">Resend Code</label>
        <input type="text" class="form-control bg-transparent rounded-0 border-0 border-bottom px-0" id="exampleInputEmail1" [(ngModel)]="data.code" placeholder="0000000" aria-describedby="emailHelp">
        <div style="color:red" *ngIf="data.er!=''">{{data.er}}</div>
    </div>
    
    <button (click)="next()" class="btn btn-primary btn-lg w-100">Verify</button>
</div>
<div class="fixed-bottom  text-center">
<p>Don’t have an account !? <a href="/login">Sign</a></p>
</div>
</ion-content>
